[Desktop Entry]
Name=YetAnotherSlotProject
Exec=yasp
Icon=yasp
Type=Application
Categories=Game;
Comment=Toujours et encore un simulateur de machine a sous, mais celui-ci est special :3
Terminal=true